@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-default-bg: white;
  --color-default-text: black;
  --color-btn-primary-bg: #003eab;
  --color-btn-primary-bg-disabled: lightgray;
}

@layer base {
  @variant dark {
    --color-default-bg: #111827;
    --color-default-text: white;
    --color-btn-primary-bg: #7ca2e5;
    --color-btn-primary-bg-disabled: lightgray;
  }
}
